body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: #333;
  overflow: hidden;
}
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 3em;
  margin-bottom: 5px;
}

#tableColaboladores {
  display: none;
  margin-top: 20px;
}

#itemTable {
  width: 100%;
  border-collapse: collapse;
}

#itemTable th,
#itemTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#itemTable th {
  background-color: #f2f2f2;
}

#pagination {
  margin-top: 20px;
}

#pagination button {
  padding: 8px 16px;
  margin-right: 5px;
  cursor: pointer;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
}

#pagination button:hover {
  background-color: #ddd;
}
#pageInfo {
  margin: 0 10px;
}

.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
  min-height: 100px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dialog h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px;
}

.dialog label {
  font-weight: bold;
}

.dialog input[type="text"],
.dialog input[type="number"],
.dialog input[type="date"],
.dialog button {
  display: block;
  width: calc(100% - 30px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

.dialog button {
  width: auto;
  margin-right: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.dialog button:hover {
  background-color: #45a049;
}

.dialog button[type="button"] {
  background-color: #f44336;
}

.dialog button[type="button"]:hover {
  background-color: #d32f2f;
}

select {
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}
